extends layout

block headClose
	//- link(rel="icon", type="image/svg+xml", href='/guilds/' + guild.guildNameUrl + '/32.svg')
	link(rel="img_src", type="image/svg+xml", href='/guilds/' + guild.guildNameUrl + '/256.svg')
	meta(property="og:image", content='/guilds/' + guild.guildNameUrl + '/256.svg')

block content
	.container
		-var guildFullName = guild.guild_name +  ' [' + guild.tag + ']';
		h1= guildFullName
		h2: img(width=256, height=256, src='/guilds/' + guild.guildNameUrl + '/256.svg')

		dl#image-links
			for size in [256,192,128,96,64,48,32,24,16]
				-var thisSrc = '/guilds/' + guild.guildNameUrl + '/' + size + '.svg'
				-var fullPath = 'http://guilds.gw2w2w.com' + thisSrc;
				dt
					h3= size + 'x' + size
					dd: dl.dl-horizontal
						dt URL 
						dd: a(href=thisSrc)= fullPath
						dt HTML 
						dd='<img src="' +  fullPath + '" width=' + size + ' height=' + size + '"/>'
						dt BBCODE 
						dd= '[img width="' + size + '" height="' + size + ']' +  fullPath + '[/img]'
						//- dt PREVIEW
						//- dd: img(width=size, height=size, src='/guilds/' + guild.guildNameUrl + '/' + size + '.svg')