extends layout

block content
	.container
		h1= guild.guild_name +  ' [' + guild.tag + ']'

		dl
			for size in [256,128,64,32]
				-var thisSrc = '/guilds/' + guild.guildNameUrl + '/' + size + '.svg'
				dt: a(href=thisSrc)= size + 'x' + size
				dd: img(src=thisSrc, width=size, height=size)